@import '../../../../node_modules/wallop/css/wallop.css';
@import '../../styles/gh.css';

code {
	background: #f8f8f8;
	padding: 3px;
}

.Wallop {
  max-width: 480px;
}

.Wallop-item {
  box-sizing: border-box;
  overflow: hidden;
  padding: 40px;
}

.Wallop-item:nth-child(1) { background-color: #8DCCB4; }
.Wallop-item:nth-child(2) { background-color: #E85239; }
.Wallop-item:nth-child(3) { background-color: #C65C8E; }
.Wallop-item:nth-child(4) { background-color: #FBE178; }
.Wallop-item:nth-child(5) { background-color: #D6F3E0; }


.Wallop-item--current {
  opacity: 0;
  transform: translateZ(0);
  animation: show 800ms ease-out forwards;
}

.Wallop-item--hide-previous,
.Wallop-item--hide-next {
  display: block;
  transform: translateZ(0);
  animation: hide 800ms ease-out forwards;
}

.Wallop-item--current img {
  animation: show 400ms 400ms ease-out forwards;
}

.Wallop-item--show-previous img,
.Wallop-item--show-next img {
  opacity: 0;
  animation: show 400ms 400ms ease-out forwards;
}

.Wallop-item--hide-previous img,
.Wallop-item--hide-next img {
  animation: hide 400ms ease-out forwards;
}

@keyframes hide {
  to { opacity: 0; }
}

@keyframes show {
  to { opacity: 1; }
}
